@import "tailwindcss";
@plugin '../utils/hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-almond-50: #fbf7f1;
  --color-almond-100: #f5ecdf;
  --color-almond-200: #e7d2b8;
  --color-almond-300: #dbba96;
  --color-almond-400: #cc996b;
  --color-almond-500: #c17f4e;
  --color-almond-600: #b36b43;
  --color-almond-700: #955639;
  --color-almond-800: #784634;
  --color-almond-900: #623b2c;
  --color-almond-950: #341d16;
}
